input {
  border: 1px solid;
  border-color: gray;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  font-size: 30px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  caret-color: transparent;
}

.green {
  background-color: green;
  color: white;
}

.orange {
  background-color: orange;
  color: white;
}

.grey {
  background-color: #808080;
  color: white;
}

#submit-done {
  border: 1px solid;
  border-color: gray;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
  margin-left: 190px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: grey;
}

#winning-message,
#losing-message {
  width: 200px;
  border: 1px solid;
  border-color: gray;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
  margin-left: 145px;
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: black;
  font-family: "ZCOOL QingKe HuangYou", sans-serif;
}

.not-started {
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
  margin-left: 150px;
  border-radius: 10px;
  background-color: white;
  color: red;
  border: 1px solid;
  border-color: gray;
  border-radius: 10px;
  font-family: "ZCOOL QingKe HuangYou", sans-serif;
  border: none;
  font-size: 20px;
}

.started {
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
  margin-left: 150px;
  border-radius: 10px;
  background-color: white;
  color: green;
  border: 1px solid;
  border-color: gray;
  border-radius: 10px;
  font-family: "ZCOOL QingKe HuangYou", sans-serif;
  border: none;
  font-size: 20px;
}

#button-container {
  display: flex;
}

#timer {
  border-radius: 10px;
  background-color: white;
  color: green;
  border: none;
  margin-left: 10px;
  font-family: "ZCOOL QingKe HuangYou", sans-serif;
  font-size: 20px;
}

#title {
  font-family: "ZCOOL QingKe HuangYou", sans-serif;
  margin-left: 10px;
  font-size: 50px;
}
